<h1>Create a New Genre:</h1>

<form action="/genres" method="post">
  <p>Genre Name:</p>
  <input type="text" name="Name" id="genre_name">

  <p><input type="submit" name="Create" id="Create"></p>
</form>
